<div class="page" id="detailView">
	<header>
		<div>
			<a class="button backLink" href="#posts">
				<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;back to list
			</a>
		</div>
		<div>
			<h2 data-ng-if="user" >Hi {{user}}</h2>	
			<h2 data-ng-if="!user">Better Reddit</h2>
		</div>		
		<div>
			<button class="button green" data-ng-if="!user" data-ng-click="login()">
				<span class="glyphicon glyphicon-log-in"></span>&nbsp;login
			</button>
			<button class="button red" data-ng-if="user" data-ng-click="logout()">
				<span class="glyphicon glyphicon-log-out"></span>&nbsp;logout {{user}}
			</button>
			<button class="button red" data-ng-if="!user" data-ng-click="register()">register</button>
		</div>		
	</header>
	<div class="content">
		<div class="subHeader">
			<div class = "Title">
				<h2>{{post.title}}</h2>
				<a href="{{post.url}}" target="_blank">{{post.url}}</a>
			</div>
			<div>
				<span class="postInfo">
					<span class="icon icon-liga">&#xe121;</span>&nbsp;{{post.rating.value}}
					<div class="verticalDivider">&nbsp;</div>			
					<span class="icon-liga">&#xe137;</span>&nbsp;{{post.author}} at {{post.createTimeDisplay}}
				</span>
			</div>
		</div>
		<ul id="commentList" data-ng-repeat="comment in post.comments">
			<li>
				<div class="comment">
					<div class="commentInfo">
						<span class="rating">
							<span class="icon icon-liga">&#xe121;</span>&nbsp;
							{{comment.rating.value}}
						</span>
						<div class="voteButtons">
							<button class="green button" id="voteCommentUp" data-ng-if="user" data-ng-click="voteComment(comment.id, post.id, true)">
								<span class="glyphicon glyphicon-arrow-up"></span>
							</button>
							<button class="red button" id="voteCommentDown" data-ng-if="user" data-ng-click="voteComment(comment.id, post.id, false)">
								<span class="glyphicon glyphicon-arrow-down"></span>
							</button>
						</div>
					</div>
					<div class="verticalDivider">&nbsp;</div>
					<div class="commentContent">
						<span class="Text">{{comment.text}}</span>
						<span class="info">
							<span class="icon-liga">&#xe137;</span>&nbsp;
							{{comment.author}} at {{comment.createTimeDisplay}}
						</span>
					</div>

				</div>
			</li>
		</ul>
	</div>
	<footer>
		<button class="button green" data-ng-if="user" data-ng-click="votePost(post.id, true)">
			<span class="glyphicon glyphicon-arrow-up"></span>
		</button>
		<button class="button red" data-ng-if="user" data-ng-click="votePost(post.id, false)">
			<span class="glyphicon glyphicon-arrow-down"></span>
		</button>
		<a class="button" data-ng-if="user" href="#newComment/{{post.id}}">
			<span class="glyphicon glyphicon-comment"></span>&nbsp;new comment</a>
	</footer>
</div>