<div class="page" id="listView">
	<header>
		<div>
			<h2>Better Reddit</h2>		
		</div>
		<div>
			<h2 data-ng-if="user" >Hi {{user}}</h2>		
		</div>		
		<div>
			<button class="button green" data-ng-if="!user" data-ng-click="login()">
				<span class="glyphicon glyphicon-log-in"></span>&nbsp;login
			</button>
			<button class="button red" data-ng-if="user" data-ng-click="logout()">
				<span class="glyphicon glyphicon-log-out"></span>&nbsp;logout {{user}}
			</button>
			<button class="button red" data-ng-if="!user" data-ng-click="register()">register</button>
		</div>
		
	</header>
	<div class="content">
		<ul id="postList" class="postList" data-ng-repeat="post in posts">
			<li>
				<a class="linkToDetail" href="#post/{{post.id}}">
					<div class="post">
						<div class="postInfo">
							<span class="rating">
								<span class="icon icon-liga">&#xe121;</span>&nbsp;
								{{post.rating.value}}
							</span>
							<span class="numberOfComments">
								<span class="icon icon-liga">&#xe034;</span>&nbsp;
								{{post.comments.length}}
							</span>
						</div>
						<div class="verticalDivider">&nbsp;</div>
						<div class="postContent">
							<span class="title">{{post.title}}</span>
							<span class="info">
								<span class="icon-liga">&#xe137;</span>&nbsp;
								{{post.author}} at {{post.createTimeDisplay}}
							</span>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<footer>
		<a class="button green" data-ng-if="user" href="#newPost">new post</a>
	</footer>
</div>