#detailView .subHeader { background: rgba(0,0,0,0.75); padding: 0.5em; color: white;
	display: flex; flex-flow: column; -webkit-flex-flow: column; display: -webkit-box;
}

#detailView .comment { display: flex; flex-direction: row; color: white; text-shadow: none; }
#detailView .comment .commentInfo, .comment .commentContent { display: flex; flex-direction: column; }
#detailView .comment .info { font-weight: normal; }
