#list .listHeader { display: flex; flex-direction: row; justify-content: space-between; }
#list .listHeader .loginRegister { display: flex; flex-direction: row; padding-right: 0.25em; }
#list .listHeader .loginRegister .loginButton { border-bottom-right-radius: 0; border-top-right-radius: 0; }
#list .listHeader .loginRegister .registerButton { border-bottom-left-radius: 0; border-top-left-radius: 0; }